{% extends "base.html" %}

{% block style_block %}
{% endblock %}

{% block head_script %}

	$(document).ready(function() {
	
        /* Calendar Handling */
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			editable: false,
			disableResizing:true,
            weekends: false, //will hide weekend
			header: {
				left: 'prev,next today',
				center: 'title',
			},
			defaultView: 'agendaWeek',
			
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 18, 45),
					allDay: false
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false
				},
			],
			eventClick: function(calEvent, jsEvent, view){
				$('#calendar').fullCalendar('removeEvents',calEvent.id);
			}
		});


        $("#depart_selector").change(function(){
            //hide all first
            $(".course").css("display","none");

            //display the selected one
            var depart = this.options[this.selectedIndex].value;
            $("."+depart).css('display', 'inline');
        });

        /**
         * http://stackoverflow.com/questions/5073859/jquery-how-to-get-parameters-of-a-url
         */
        function getURLParameters(url){
            var result = {};
            var searchIndex = url.indexOf("?");
            if (searchIndex == -1 ) return result;
            var sPageURL = url.substring(searchIndex +1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++)
            {       
                var sParameterName = sURLVariables[i].split('=');      
                result[sParameterName[0]] = sParameterName[1];
            }
            return result;
        }

        $(".addEvent").on("click", function(e){
            params = getURLParameters($(this).attr("href"));
            console.log(params);
            $.getJSON('_find_section', params , function(data) {
				if (data.sections.length ==1){
					section = data.sections[0];
					section.days.split('').forEach(function(letter){
						day = 24;
						if (letter=="T"){day+=1}
						else if (letter=="W"){day+=2}
						else if (letter=="R"){day+=3}
						else if (letter=="F"){day+=4}
						$('#calendar').fullCalendar(
							'renderEvent',
								{
									id : params["depart"]+"-"+params["course"],
									title : params["depart"]+"-"+params["course"],
									start : day+" Feb 2014 "+section.start_time[0]+":"+section.start_time[1]+" GMT",
									end : day+" Feb 2014 "+section.end_time[0]+":"+section.end_time[1]+" GMT"
								}, true
						);
					});
				}
            });
            e.preventDefault();
            /*
            $.ajax({
                url: "/ajax/findSection",
                data: params,
                dataType: "json"
            }).done(function(data){

            });
            */
        });


		
	});

{% endblock %}

{% block content %}

<div class="header">
    <p id="student"style="display: inline;">Paul Rice</p>
    <table id="headerInfo">
        <td>
            <table class="requirement">
                <tr>
                    <th class="requirement">requirements: </th>
                </tr>
                <tr class="requireRow">
                    <td>Humanities/Fine Arts 0 1 2 3 4</td>
                    <td>Writing</td>
                    <td>Internationalism</td>
                    <td>complete</td>
                </tr>
                <tr class="requireRow">
                    <td>Social Science 0 1 2</td>
                    <td>Multiculturalism</td>
                    <td>Q 0 1 2 3</td>
                    <td>incomplete</td>
                </tr>
                <tr class="requireRow">
                    <td>Natural Science/Math 0 1 2</td>
                    <td></td>
                    <td></td>
                    <td>in progress</td>
                </tr>
            </table>
        </td>
        <td style="width: 100px"></td>
        <td>
            <p class="major" style="line-height: 100%"><b>major:</b> ECON, COMP</p>
            <p class="minorLang" style="line-height: 20%"><b>minor:</b> WGSS</p>
            <p class="minorLang" style="line-height: 20%"><b>language:</b> arabic</p>
        </td>
    </table>
<table>
    <tr>
        <td>
            <table class="courseSelect">
                <tr><th><select id="depart_selector" name="select an area of study">
                    <option value="Department" selected="selected"> 
                    Select Department
                    </option>
                    {% if 'deps' in model %}
                        {% for d in model['deps'] %}
                            <option value="{{d.prefix}}">{{d.name}}</option>
                        {% endfor %}
                    {% endif %}
                    <!--
                    <option value="AMST">American Studies</option>
                    <option value="ANTH">Anthropology</option>
                    <option value="ART">Art and Art History</option>
                    <option value="ASIA">Asian Languages and Cultures</option>
                    <option value="BIOL">Biology</option>
                    <option value="CHEM">Chemistry</option>
                    <option value="CHIN">Chinese</option>
                    <option value="CLAS">Classics</option>
                    <option value="COMP">Computer Science</option>
                    <option value="ECON">Economics</option>
                    <option value="EDUC">Educational Studies</option>
                    <option value="ENGL">English</option>
                    <option value="ENVI">Environmental Studies</option>
                    <option value="FREN">French and Francophone Studies</option>
                    <option value="GEOG">Geography</option>
                    <option value="GEOL">Geology</option>
                    <option value="GERM">German Studies</option>
                    <option value="HISP">Hispanic and Latin American Studies</option>
                    <option value="HIST">History</option>
                    <option value="INTD">Interdisciplinary Studies</option>
                    <option value="JAPA">Japanese</option>
                    <option value="LATI">Latin American Studies</option>
                    <option value="LING">Linguistics</option>
                    <option value="MATH">Mathematics</option>
                    <option value="MCST">Media and Cultural Studies</option>
                    <option value="MUSI">Music</option>
                    <option value="NEUR">Neuroscience Studies</option>
                    <option value="PHIL">Philosophy</option>
                    <option value="PE">Physical Education</option>
                    <option value="PHYS">Physics and Astronomy</option>
                    <option value="POLI">Political Science</option>
                    <option value="PSYC">Psychology</option>
                    <option value="RELI">Religious Studies</option>
                    <option value="RUSS">Russian</option>
                    <option value="SOCI">Sociology</option>
                    <option value="THDA">Theatre and Dance</option>
                    <option value="WGSS">Women's, Gender, and Sexuality Studies</option>
                    -->
                </select></th></tr>
                {% if 'deps' in model %}
                    {% for d in model['deps'] %}
                        {% for c in d.courses%}
                        <tr class="course {{d.prefix}}">
                            <td> 
                                <a class="addEvent" 
                                href="?depart={{d.prefix}}&course={{c.number}}">
                                {{d.prefix}} {{c.number}}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <!--
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                <tr class="course"><td>Name
                    <br>Name Name</td></tr>
                -->
            </table>
        </td>
        <td><div id="calendar"></div></td>
    </tr>
</table>
</div>

{% endblock content %}
